<!DOCTYPE html>
<html>
    <body style="margin: 0;">
        <header style="background-color: #CA549B; display: flex; justify-content: space-around; align-items: center;">
            <div style="display: flex;">
                <h1 style="color: #4851A2"> Avalia <h1 style="color: #F0A929"> UnB </h1> </h1>
            </div>
            <div style="display: flex; justify-content: space-between; width: 40rem; text-align: center;">
                <a href="/avaliacaoProfessor" style="text-decoration: none; color: white; font-weight: bold;"> Ver avaliações de professores </a>
                <a href="/avaliacaoTurma" 
                    style="text-decoration: none;
                        color: white; 
                        font-weight: bold; 
                    "
                > 
                    Ver avaliações das disciplinas
                </a>
                <a href="/adicionarAvaliacaoProfessor" 
                    style="text-decoration: none;
                        color: white; 
                        font-weight: bold; 
                    "
                > 
                    Adicionar avaliacao de professor
                </a>
                <a href="/adicionarAvaliacaoTurma" 
                    style="text-decoration: none;
                        color: white; 
                        font-weight: bold; 
                    "
                > 
                    Adicionar avaliacao de disciplina
                </a>
                <a href="/verDenunciasTurma" 
                        style="text-decoration: none;
                            color: white; 
                            font-weight: bold; 
                        "
                    > 
                        Minhas denuncias turma
                </a>
                <a href="/verDenunciasProfessor" 
                        style="text-decoration: none;
                            color: white; 
                            font-weight: bold; 
                        "
                    > 
                        Minhas denuncias professor
                </a>
            </div>
            {% if not user%}
                <div style="display: flex; justify-content: space-between; width: 10rem; text-align: center;">
                    <a href="/" style="text-decoration: none; color: white; font-weight: bold;"> Entrar </a>
                    <a href="/register" style="text-decoration: none; color: white; font-weight: bold;"> Cadastrar </a>
                </div>
                {% else %}
                    <div style="display: flex; width: 10rem; gap: 1rem;">
                        <form action="/logout" method="get">
                            <div style="display: flex; justify-content: space-between; text-align: center;">
                                <button type="submit" style="background: transparent; cursor: pointer; font-size: 16px; border: none; text-decoration: none; color: white; font-weight: bold;"> Sair </button>
                            </div>
                        </form>
                        <form action="/perfil" method="get">
                            <div style="display: flex; justify-content: space-between; text-align: center;">
                                <button type="submit" style="background: transparent; cursor: pointer; font-size: 16px; border: none; text-decoration: none; color: white; font-weight: bold;"> Meu perfil </button>
                            </div>
                    </div>
                    </form>
            {% endif %}
        </header>
        <div style="display: flex; flex-direction: column; gap: 1rem; margin-top: 1rem; align-items: center;">
            {% for denuncia in data %}
                <div style="border: 1px solid #F0A929; width: 40rem; padding: 1rem; border-radius: 10px;">
                    {% if denuncia[2] == 0%}
                        <h3>Não avaliada</h3>
                    {% endif %}
                    <p> comentario: {{ denuncia[1] }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>